apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: open5gs

generatorOptions:
  disableNameSuffixHash: true

resources:
  - open5gs/storage.yaml
  - open5gs/mongodb.yaml
  - open5gs/nrf.yaml
  - open5gs/scp.yaml
  - open5gs/amf.yaml
  - open5gs/smf.yaml
  - open5gs/upf.yaml
  - open5gs/udm.yaml
  - open5gs/udr.yaml
  - open5gs/ausf.yaml
  - open5gs/nssf.yaml
  - open5gs/pcf.yaml
  - open5gs/bsf.yaml
  - open5gs/web-ui.yaml
  - ims/ims-env.yaml
  - ims/dns.yaml
  - ims/mysql.yaml
  - ims/pyhss.yaml
  - ims/rtpengine.yaml

configMapGenerator:
  - name: ims-dns-files
    files:
      - ims/dns/dns_init.sh
      - ims/dns/named.conf
      - ims/dns/ims_zone
      - ims/dns/epc_zone
      - ims/dns/pub_3gpp_zone
      - ims/dns/e164.arpa

  - name: ims-pyhss-files
    files:
      - ims/pyhss/pyhss_init.sh
      - ims/pyhss/config.yaml
      - ims/pyhss/default_ifc.xml
      - ims/pyhss/default_sh_user_data.xml
